@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
*
{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
    font-family:  'Poppins', sans-serif;
}
body
{
    background-image: url("./os.webp");
    background-repeat: no-repeat;
    background-size: cover;
}
section
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container
{
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(15px);
    border: 2px solid rgba(255,255,255,0.18);
    box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
    backdrop-filter: blur( 4px );
    width: 500px;
    padding: 100px 50px;
    border-radius: 10px;
}
.c1
{
    border: 3px solid rgba(31,38,135,0.37);
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
    cursor: pointer;
    transition: all 0.3s linear;
}
.c1:hover
{
    background-color: rgba(31,38,135,0.37);
    border-color: white;
    box-shadow: 5px 5px 10px 0 rgba(31,38,135,0.37);
}
a
{
    color:white;
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2rem;
}
h1
{
    text-align: center;
    color:white;
    margin-bottom: 40px;
    font-size: 2rem;
    text-decoration: underline;
}